<app-create></app-create>

<table class="table table-striped">
  <thead>
  <tr>
    <th>image</th>
  <th>reference</th>
  <th>Désignation</th>
  <th>prix</th>
  <th>Quantité</th>
  <th>Modifier</th>
  <th>supprimer</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td><img src={{product.imageart}} alt="" width="50"></td>

  <td>{{ product.reference }}</td>
  <td>{{ product.designation }}</td>
  <td>{{product.qtestock}}</td>
  <td>{{product.prix}}</td>
  <td><button type="button" class="btn btn-warning" style="color: blue;"><i class="bi bi-pen-fill"></i></button></td>
    <td><button type="button" class="btn btn-danger" (click)="delarticle(product._id)" ><i class="bi bi-trash3-fill"></i></button></td>


  </tr>

  </tbody>
  </table>
